<a href="https://colab.research.google.com/github/sarashyam/mnist-fashion/blob/main/ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

January - 2200
February - 2350
March - 2600
April - 2130
May - 2190

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [10]:
exp = [2200, 2350, 2600, 2130, 2190]
print(exp)

[2200, 2350, 2600, 2130, 2190]

In [21]:
print(f"In Feb u spend {exp[1] - exp[0]} extra compare to Jan")

In Feb u spend 150 extra compare to Jan

In [5]:
sum = 0
for i in range(3):
  sum = sum + exp[i]
print(sum)

7150

In [11]:
if 2000 in exp:
  print("You have  spend exactly 2000")
else:
  print("NHHH u didn't")

NHHH u didn't

In [14]:
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [16]:
exp.pop()
print(exp)

[2200, 2350, 2600, 2130, 2190]

In [17]:
exp.append(1980)

In [18]:
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [19]:
exp[3] = exp[3] - 200

In [20]:
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]